<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Election - Play Redis Demo</title>
  <script src="/assets/dist/axios.min.js"></script>
  <script src="/assets/dist/vue.min.js"></script>
  <script src="/assets/common.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/styles/common.css">
  <style>

  </style>
</head>

<body>
  <div class="main" id="app">
    <div class="status-bar">
      <div class="status-bar-title">Play Redis - Election</div>
    </div>

    <div class="container">
      <div class="data-grid">
        <div class="grid-box grid-add" v-on:click="handleAddElector">
          <i class="add-icon"></i>
        </div>
        <grid-item
          v-for="item in electorList"
          v-on:open-vote="onHandleDoVote"
          v-bind:elector="item"
          v-bind:key="item.id">
        </grid-item>
      </div>
    </div>

    <div class="menu-bar">
      <div class="menu-bar-item active">投票</div>
      <div class="menu-bar-item">排行榜</div>
    </div>

    <transition name="slide-fade">
      <div class="pop-layer" v-if="visible">
        <div class="pop-mask" v-on:click="handleClose"></div>
        <div class="pop-window">
          <tab-panel v-if="visibleMode === 'create'"></tab-panel>
          <vote-panel
            v-if="visibleMode === 'vote'"
            v-bind:elector="currentElector"
            v-on:submit-collect="onSubmitCollect"
            v-on:submit-vote="onSubmitVote">
          </vote-panel>
        </div>
      </div>
    </transition>
  </div>
</body>

<script type="text/javascript">
  (function () {
    window.DEMO_CONFIG = {
      HOST_NAME: ''
    }
    var EVENT_TYPE = {
      LOAD_ELECTORS: "load_electors",
      CREATE_USER_SUCCESS: "create_user_success"
    }

    var globalEmitter = new Emitter()
    window.__logger__ = new Logger()

    function VoterApp(root) {
      this.root = root
      this.voter = {}
      this.state = {
        message: 'my name',
        visible: false,
        visibleMode: 'create',
        currentElector: {},
        currentUser: {},
        electorList: [],
      }

      Vue.component('grid-item', {
        props: ['elector'],
        template: '<div class="grid-box" v-on:click="' + "$emit('open-vote', elector)" + '"><div class="grid-box-content">'
          + '<div class="avatar"><img :src="elector.avatar"/></div>'
          + '<div class="name" :title="elector.name">{{ elector.name }}</div>'
          + '<div class="company" :title="elector.profession">{{ elector.profession }}</div>'
          + '</div></div>'
      })

      Vue.component('vote-panel', {
        props: ['elector'],
        data: function () {
          return {
            mobileInput: '',
            passwordInput: '',
          }
        },
        template: '<div class="tab-panel">'
          + ' <div class="tab-panel-body">'
          + '    <div class="tab-content">'
          + '      <div class="form-bar">'
          + '        <span class="form-bar-title">候选人：[ {{ elector.name }} ]</span>'
          + '      </div>'
          + '      <div class="form-container">'
          + '        <div class="form-item">'
          + '          <input v-model="mobileInput" class="form-input" placeholder="投票人手机号"/>'
          + '        </div>'
          + '        <div class="form-item">'
          + '          <input v-model="passwordInput" class="form-input" type="password" placeholder="投票人密码"/>'
          + '        </div>'
          + '        <div class="form-item">'
          + '          <button class="submit-btn" v-on:click="' + "$emit('submit-collect', mobileInput, passwordInput)" + '">获取选票</button>'
          + '        </div>'
          + '        <div class="form-item">'
          + '          <button class="submit-btn pink" v-on:click="' + "$emit('submit-vote', mobileInput, passwordInput)" + '">马上投票</button>'
          + '        </div>'
          + '      </div>'
          + '    </div>'
          + ' </div>'
          + '</div>'
      })

      Vue.component('tab-panel', {
        data: function () {
          return {
            current: 'elector',
            tabConfig: [{ "type": "elector" }, { "type": "voter" }],
            mobileInput: '',
            passwordInput: '',
          }
        },
        methods: {
          onClickTab: function (clickType) {
            if (clickType !== this.current) {
              this.current = clickType
              this.mobileInput = ''
              this.passwordInput = ''
            }
          },
          submitCreateUser: function () {
            if (!this.mobileInput || !this.passwordInput) {
              alert('请填写完整信息之后再尝试')
              return
            }

            var that = this
            axios.post(DEMO_CONFIG.HOST_NAME + '/api/' + this.current + '/create', {
              mobile: this.mobileInput,
              password: this.passwordInput
            })
              .then(function (response) {
                console.log(response)
                alert('成功创建' + that.current + ': ' + response.data.data.name)
                root.emitter.trigger(EVENT_TYPE.CREATE_USER_SUCCESS, response.data)
                root.loadElectors()
              })
              .catch(function (error) {
                if (error.response) {
                  // The request was made and the server responded with a status code
                  // that falls out of the range of 2xx
                  console.log(error.response);
                  alert(error.response.status + ": " + error.response.data.message)
                } else {
                  alert('创建失败')
                }
              })
          }
        },
        template: '<div class="tab-panel __bordered">'
          + ' <div class="tab-panel-header">'
          + '   <div class="tab-item" v-on:click="onClickTab(item.type)" v-bind:class="{active: current == item.type}" v-for="item in tabConfig">{{ item.type }}</div>'
          + ' </div>'
          + ' <div class="tab-panel-body">'
          + '    <div class="tab-content" v-if="current == item.type" v-for="item in tabConfig">'
          + '      <div class="form-container">'
          + '        <div class="form-item">'
          + '          <input v-model="mobileInput" class="form-input" placeholder="手机号"/>'
          + '        </div>'
          + '        <div class="form-item">'
          + '          <input v-model="passwordInput" class="form-input" type="password" placeholder="密码"/>'
          + '        </div>'
          + '        <div class="form-item">'
          + '          <button class="submit-btn" v-on:click="submitCreateUser">创建用户</button>'
          + '        </div>'
          + '      </div>'
          + '    </div>'
          + ' </div>'
          + '</div>'
      })

      this.app = new Vue({
        el: '#app',
        data: this.state,
        methods: {
          handleAddElector: function (event) {
            this.visible = true
            this.visibleMode = 'create'
          },
          onHandleDoVote: function (elector) {
            this.visible = true
            this.visibleMode = 'vote'
            this.currentElector = elector
          },
          handleClose: function (event) {
            this.visible = false
          },

          onSubmitCollect: function (mobile, password) {
            if (!mobile || !password) {
              alert('请填写完整信息之后再尝试')
              return
            }

            axios.post(DEMO_CONFIG.HOST_NAME + '/api/voter/collect', {
              mobile: mobile,
              password: password
            })
              .then(function (response) {
                console.log(response)
                var responseData = response.data
                alert('成功获得选票【' + responseData.data.collect_point + '】，当前剩余选票【' + responseData.data.point + '】')
              })
              .catch(function (error) {
                if (error.response) {
                  // The request was made and the server responded with a status code
                  // that falls out of the range of 2xx
                  console.log(error.response);
                  alert(error.response.status + ": " + error.response.data.message)
                } else {
                  alert('获取选票失败')
                }
              })
          },
          onSubmitVote: function (mobile, password) {
            if (!mobile || !password) {
              alert('请填写完整信息之后再尝试')
              return
            }
          }
        }
      })
    }

    VoterApp.prototype.setState = function (nextState) {
      for (var key in nextState) {
        this.state[key] = nextState[key]
        this.app[key] = nextState[key]
      }
    }

    VoterApp.prototype.update = function (action) {
      console.log(action)
      switch (action.type) {
        case "CREATE_USER_SUCCESS":
          this.setState({
            visible: false
          })
          break
        case "LOAD_ELECTORS":
          var isLoad = false
          var electorList = []
          if (action.payload && action.payload.list && action.payload.list.length) {
            isLoad = true
            electorList = action.payload.list
          }
          this.setState({
            isLoad: isLoad,
            electorList: electorList
          })
      }
    }

    function AppService(root) { }

    function VoterClient(appServer) {
      this.appServer = appServer;
      this.gameApp = new VoterApp(this)

      this.emitter = globalEmitter
      this.initEvent()

      var that = this;
      setTimeout(function () {
        that.loadElectors()
      }, 1000)
    }

    VoterClient.prototype.initEvent = function () {
      var that = this
      this.emitter.on(EVENT_TYPE.LOAD_ELECTORS, function (response) {
        that.gameApp.update({
          type: "LOAD_ELECTORS",
          payload: {
            list: response.data.list
          }
        })
      })

      this.emitter.on(EVENT_TYPE.CREATE_USER_SUCCESS, function (response) {
        that.gameApp.update({
          type: "CREATE_USER_SUCCESS",
        })
      })
    }

    VoterClient.prototype.loadElectors = function () {
      var emitter = this.emitter

      axios.get(DEMO_CONFIG.HOST_NAME + '/api/elector/list')
        .then(function (response) {
          console.log(response)
          emitter.trigger(EVENT_TYPE.LOAD_ELECTORS, response.data)
        })
        .catch(function (error) {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response);
            alert(error.response.status + ": " + error.response.data.message)
          } else {
            alert('加载失败')
          }
        })
    }

    window.__client__ = new VoterClient(new AppService())
  })()
</script>

</html>
